<%# debug(@character_types) %>

<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :characters_type_id %></br>

    <%= collection_select(:character, :character_type_id, @character_types, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :is_good_character %><br>
    <%= f.check_box :is_good_character %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
