<!DOCTYPE html>
<html>
<head>
  <title>HobbitHackconf2015</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless current_page?(root_url) %>
	<nav>
		<h3>
			<%= link_to '<< Home Page', '/' %>
		</h3>
	</nav>
<% end %>

<%= yield %>

</body>
</html>
